/* Style the header */

#navbar {
  overflow: hidden;
  background-color: #333;
}

/*navbar style to use color and overline */
#navbar a {
  float: left;
  display: block;
  color: #ff00d4;
  text-align: center;
  padding: 16px;
  text-decoration: overline;
}

.content {
  padding: 16px;
}

/*fixes position of navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky + .content {
  padding-top: 60px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Verdana;
}
.title {
  color:pink;
  font-size: 20px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 20px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
}

.mydegree {width: 90%; background-color:greenyellow;} 
.communication {width: 80%; background-color: #2196F3;} 
.jsskills {width: 15%; background-color: brown;}
.wastingtime {width: 70%; background-color: palevioletred;} 